
<h1>Pass the <%= @test_passage.test.title %> test</h1>

<h2>
  <%= @test_passage.current_question.title %>
</h2>

<p>
  <%= @test_passage.number_of_current_question %> of <%= @test_passage.test.questions.count %> questions
</p>
<%= form_with urls: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :title, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>
  <p><%= form.submit 'Next' %></p>
<% end %> 